:root {
    --red_color: #FF3147;
    --black_color: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.award_winning_section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_award_container {
    width: 65%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.content_award {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content_award h2 {
    color: var(--red_color);
    font-size: .8rem;
    font-weight: 300;
    text-transform: uppercase;
    font-family: normal;
}

.content_award h2:last-of-type {
    color: var(--black_color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
}

.content_award p {
    font-size: .6rem;
    line-height: 12px;
}

.content_award button {
    background-color: var(--red_color);
    border: none;
    width: max-content;
    padding: 8px 15px;
    color: #FFF;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: .4rem;
    cursor: pointer;
    min-width: 80px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color .4s linear;
    border: 1px solid transparent;
}

.content_award button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s cubic-bezier(.5, 1.6, .4, .7);
}

.content_award button:hover {
    color: var(--red_color);
    border: 1px solid var(--red_color);

}

.content_award button:hover::before {
    transform: scaleX(1);
}

.image_award {
    display: flex;
    width: 50%;
}

.image_award img {
    width: 90%;
}
