@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap");

:root {
  --red_color: #ff3147;
  --black_color: #000000;
  --white_color: #ffffff;
  --dark_white: #fafafa;
  --regular_font: "Cormorant SC", serif;
  --gray_color: #f6f6f6;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--dark_white);
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
  width: 5px;
  border: 3px solid var(--dark_white);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff5969;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--regular_font);
}

.award_winning_section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white_color);
}

.main_award_container {
  width: 65%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.content_award {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content_award h2 {
  color: var(--red_color);
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
  font-family: normal;
}

.content_award h2:last-of-type {
  color: var(--black_color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
}

.content_award p {
  font-size: 0.6rem;
  line-height: 12px;
  font-family: Poppins;
}

.content_award button {
  background-color: var(--red_color);
  border: none;
  width: max-content;
  padding: 8px 15px;
  color: #fff;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 0.4rem;
  cursor: pointer;
  min-width: 80px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.4s linear;
  border: 1px solid transparent;
}

.content_award button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.content_award button:hover {
  color: var(--red_color);
  border: 1px solid var(--red_color);
}

.content_award button:hover::before {
  transform: scaleX(1);
}

.image_award {
  display: flex;
  width: 50%;
}

.image_award img {
  width: 90%;
}

/* Services Section */

.services_section {
  background-color: var(--dark_white);
  /* height: 100vh; */
  padding-top: 50px;
  padding-bottom: 50px;
}

.services_section h3 {
  color: red;
  width: 65%;
  margin: auto;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0px;
  font-weight: 600;
  font-family: var(--regular_font);
}

.content_services {
  /* border: 2px solid red; */
  width: 65%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  h2 {
    font-size: 23px;
    width: 50%;
    text-transform: uppercase;
    font-family: var(--regular_font);
    font-weight: bold;
  }
  p {
    font-size: 10px;
    /* color: red; */
    line-height: 15px;
    width: 50%;
    font-family: Poppins;
  }
}

.image_slider {
  /* border: 2px solid red; */
  margin-top: 30px;
  height: 200px;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  padding-left: 17.5%;
  padding-right: 17.5%;
}

.image_slider::-webkit-scrollbar {
  display: none;
}

.slider_item {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  gap: 10px;
  /* padding: 10px; */
  /* display: grid; */
  /* grid-template-columns: auto auto auto; */
  /* flex: none; */
}
.slider_item span {
  height: 100%;
  overflow: hidden;
  /* border-radius: 6px; */
  position: relative;
  img {
    height: 100%;
    /* width: 100%; */
    /* border-radius: 6px; */
  }
}
.slider_item_image_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid red;
  background-color: var(--red_color);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.6s;
  flex-direction: column;
  gap: 10px;
}
.slider_item_image_content img {
  width: 58px !important;
  height: 58px !important;
}
.slider_item_image_content h2 {
  font-size: 0.8rem !important;
  color: var(--white_color);
}
.slider_item_image_content p {
  font-size: 0.5rem !important;
  text-align: center;
  color: var(--white_color);
}

.slider_item_image_content a {
  background-color: var(--dark_white);
  font-size: 0.7rem;
  text-decoration: none;
  font-family: Poppins;
  padding: 6px 12px;
  color: var(--red_color);
}
.slider_item_image_content:hover {
  opacity: 1;
}

.slider_item_image_content > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}

.slider_item_image_content:hover > * {
  transform: translate(0);
}

.slider_buttons {
  /* border: 2px solid red; */
  width: 65%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px;
  /* border: 1px solid gray; */
  border-radius: 50%;
  cursor: pointer;
  /* background-color: gary; */
  button {
    background-color: var(--black_color);
    border: none;
    padding: 2px;
    border-radius: 50%;
  }
}

.active_button {
  border: 1px solid var(--red_color);
  button {
    background-color: var(--red_color);
  }
}

.our_best_section {
  /* border: 2px solid red; */
  padding-top: 50px;
  padding-bottom: 50px;
  h2 {
    color: var(--red_color);
    text-align: center;
    font-family: Cormorant SC;
    font-size: 0.9rem;
  }
  h3 {
    text-align: center;
    margin-top: 15px;
    font-weight: bolder;
    font-size: 1.2rem;
  }
}

.cards_best_section {
  /* border: 1px solid red; */
  width: 65%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.card_best {
  padding: 10px;
  img {
    width: 35px !important;
  }
  p:first-of-type {
    /* border: 2px solid red; */
    font-size: 0.5rem;
    font-weight: bold;
  }
  p:last-of-type {
    font-size: 0.6rem;
    margin-top: 5px;
  }
}

.projects_section {
  padding-bottom: 60px;
  h2 {
    color: var(--red_color);
    text-align: center;
    font-size: 0.9rem;
  }
  h3 {
    text-align: center;
    margin-top: 15px;
  }
}

.project_slider {
  /* border: 2px solid red; */
  margin: auto;
  margin-top: 30px;
  width: 65%;
  max-height: 300px;
  display: flex;
  gap: 10px;
  /* align-items: center; */
}

.image_slider_projects,
.content_slider {
  /* border: 2px solid black; */
  width: 50%;
}
.image_slider_projects {
  width: 85%;
  overflow-y: scroll;

  img {
    width: 100%;
    height: 100%;
  }
}
.image_slider_projects::-webkit-scrollbar {
  display: none;
}

.content_slider {
  background-color: var(--gray_color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.content_item_slider{
  cursor: pointer;
  height: 100%;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 5px;
  /* align-items: center; */
  /* gap: 20px; */
  h2{
    font-size: .7rem;
    text-align: left;
    color: #000000;
  }
  p{
    font-size: .6rem;
  }
}

.active_slider_project{
  background-color: var(--red_color);
  h2,p{
    color: var(--white_color);
  }
}

.experts_growth_section{
  /* border: 2px solid red; */
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--dark_white);
  h2,h3{
    text-align: center;
  }
  h2{
    color: var(--red_color);
    font-size: 1rem;
  }
  h3{
    margin-top: 15px;
    font-weight: bolder;
  }
}

.growth_factor{
  width: 65%;
  margin: auto;
  /* border: 2px solid red; */
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.growth_card{
  /* border: 2px solid red; */
  width: max-content;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-content: center ;
  flex-direction: column;
  background-color: var(--white_color);
  img{
    width: 15px;
    /* border: 2px solid red; */
    margin: auto;
  }
  h2{
    font-size: 1rem !important;
    font-family: Poppins;
  }
  p{
    font-size: .5rem;
  }
  cursor: pointer;
}
.growth_card:hover{
  box-shadow: 3px 6px 20px #672C2C1F;
  transform: scale(1.01);
}